# Default ignored files
/shelf/
/workspace.xml
#hinzugefühte Files
.target
compiler.xml
encodings.xml
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse
.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
